{
  "openapi": "3.0.3",
  "info": {
    "title": "PokéAPI",
    "description": "An open RESTful API for Pokémon data. A full RESTful API linked to an extensive database detailing everything about the Pokémon main game series. We've covered everything from Pokémon to Berry Flavors.",
    "version": "2.0.0",
    "contact": {
      "name": "PokéAPI",
      "url": "https://pokeapi.co/"
    },
    "license": {
      "name": "Open Source",
      "url": "https://pokeapi.co/"
    }
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/pokemon/{idOrName}": {
      "get": {
        "summary": "Get Pokémon by ID or name",
        "description": "Returns details about a specific Pokémon by ID or name. Includes abilities, stats, types, moves, sprites, and more.",
        "operationId": "getPokemon",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "description": "The ID or name of the Pokémon to retrieve",
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "example": 132
                },
                {
                  "type": "string",
                  "example": "ditto"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with Pokémon details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon": {
      "get": {
        "summary": "List Pokémon",
        "description": "Returns a paginated list of Pokémon resources",
        "operationId": "listPokemon",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of resources to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "example": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to start from",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with paginated Pokémon list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          }
        }
      }
    },
    "/pokemon-species/{idOrName}": {
      "get": {
        "summary": "Get Pokémon species by ID or name",
        "description": "Returns details about a specific Pokémon species",
        "operationId": "getPokemonSpecies",
        "tags": [
          "Pokémon Species"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "description": "The ID or name of the Pokémon species to retrieve",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "example": "aegislash"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with Pokémon species details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonSpecies"
                }
              }
            }
          },
          "404": {
            "description": "Pokémon species not found"
          }
        }
      }
    },
    "/type/{idOrName}": {
      "get": {
        "summary": "Get type by ID or name",
        "description": "Returns details about a specific Pokémon type",
        "operationId": "getType",
        "tags": [
          "Types"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "description": "The ID or name of the type to retrieve",
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "example": 3
                },
                {
                  "type": "string",
                  "example": "fire"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with type details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Type"
                }
              }
            }
          },
          "404": {
            "description": "Type not found"
          }
        }
      }
    },
    "/ability/{idOrName}": {
      "get": {
        "summary": "Get ability by ID or name",
        "description": "Returns details about a specific Pokémon ability",
        "operationId": "getAbility",
        "tags": [
          "Abilities"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "description": "The ID or name of the ability to retrieve",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "example": "battle-armor"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ability details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ability"
                }
              }
            }
          },
          "404": {
            "description": "Ability not found"
          }
        }
      }
    },
    "/pokemon/{id}/encounters": {
      "get": {
        "summary": "Get Pokémon location area encounters",
        "description": "Returns a list of location areas where a Pokémon can be encountered",
        "operationId": "getPokemonEncounters",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Pokémon",
            "schema": {
              "type": "integer",
              "example": 132
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with location encounter details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationAreaEncounter"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pokemon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier for this Pokémon resource",
            "example": 132
          },
          "name": {
            "type": "string",
            "description": "The name for this Pokémon resource",
            "example": "ditto"
          },
          "base_experience": {
            "type": "integer",
            "description": "The base experience gained for defeating this Pokémon",
            "example": 101
          },
          "height": {
            "type": "integer",
            "description": "The height of this Pokémon in decimetres",
            "example": 3
          },
          "weight": {
            "type": "integer",
            "description": "The weight of this Pokémon in hectograms",
            "example": 40
          },
          "is_default": {
            "type": "boolean",
            "description": "Set for exactly one Pokémon used as the default for each species"
          },
          "order": {
            "type": "integer",
            "description": "Order for sorting"
          },
          "abilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonAbility"
            }
          },
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          },
          "game_indices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionGameIndex"
            }
          },
          "held_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonHeldItem"
            }
          },
          "location_area_encounters": {
            "type": "string",
            "description": "URL to location area encounters for this Pokémon"
          },
          "moves": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonMove"
            }
          },
          "species": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "sprites": {
            "$ref": "#/components/schemas/PokemonSprites"
          },
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonStat"
            }
          },
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonType"
            }
          }
        }
      },
      "PokemonAbility": {
        "type": "object",
        "properties": {
          "is_hidden": {
            "type": "boolean",
            "description": "Whether or not this is a hidden ability"
          },
          "slot": {
            "type": "integer",
            "description": "The slot this ability occupies in this Pokémon species"
          },
          "ability": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      },
      "PokemonType": {
        "type": "object",
        "properties": {
          "slot": {
            "type": "integer",
            "description": "The order the Pokémon's types are listed in"
          },
          "type": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      },
      "PokemonStat": {
        "type": "object",
        "properties": {
          "base_stat": {
            "type": "integer",
            "description": "The base value of the stat"
          },
          "effort": {
            "type": "integer",
            "description": "The effort points (EV) gained in the stat"
          },
          "stat": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      },
      "PokemonSprites": {
        "type": "object",
        "properties": {
          "front_default": {
            "type": "string",
            "nullable": true,
            "description": "The default front sprite URL"
          },
          "front_shiny": {
            "type": "string",
            "nullable": true,
            "description": "The shiny front sprite URL"
          },
          "front_female": {
            "type": "string",
            "nullable": true,
            "description": "The female front sprite URL"
          },
          "front_shiny_female": {
            "type": "string",
            "nullable": true,
            "description": "The shiny female front sprite URL"
          },
          "back_default": {
            "type": "string",
            "nullable": true,
            "description": "The default back sprite URL"
          },
          "back_shiny": {
            "type": "string",
            "nullable": true,
            "description": "The shiny back sprite URL"
          },
          "back_female": {
            "type": "string",
            "nullable": true,
            "description": "The female back sprite URL"
          },
          "back_shiny_female": {
            "type": "string",
            "nullable": true,
            "description": "The shiny female back sprite URL"
          }
        }
      },
      "PokemonMove": {
        "type": "object",
        "properties": {
          "move": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "version_group_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonMoveVersion"
            }
          }
        }
      },
      "PokemonMoveVersion": {
        "type": "object",
        "properties": {
          "level_learned_at": {
            "type": "integer",
            "description": "The level at which the move is learned"
          },
          "move_learn_method": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "version_group": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      },
      "PokemonHeldItem": {
        "type": "object",
        "properties": {
          "item": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "version_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PokemonHeldItemVersion"
            }
          }
        }
      },
      "PokemonHeldItemVersion": {
        "type": "object",
        "properties": {
          "rarity": {
            "type": "integer",
            "description": "The rarity of this held item"
          },
          "version": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      },
      "VersionGameIndex": {
        "type": "object",
        "properties": {
          "game_index": {
            "type": "integer",
            "description": "The internal ID of the Pokémon in this version"
          },
          "version": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      },
      "PokemonSpecies": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier for this Pokémon species resource"
          },
          "name": {
            "type": "string",
            "description": "The name for this Pokémon species resource"
          },
          "order": {
            "type": "integer",
            "description": "The order in which species should be sorted"
          },
          "gender_rate": {
            "type": "integer",
            "description": "The chance of this Pokémon being female, in eighths; or -1 for genderless"
          },
          "capture_rate": {
            "type": "integer",
            "description": "The base capture rate"
          },
          "base_happiness": {
            "type": "integer",
            "description": "The base happiness when caught"
          },
          "is_baby": {
            "type": "boolean",
            "description": "Whether or not this is a baby Pokémon"
          },
          "is_legendary": {
            "type": "boolean",
            "description": "Whether or not this is a legendary Pokémon"
          },
          "is_mythical": {
            "type": "boolean",
            "description": "Whether or not this is a mythical Pokémon"
          },
          "hatch_counter": {
            "type": "integer",
            "description": "Initial hatch counter"
          },
          "has_gender_differences": {
            "type": "boolean",
            "description": "Whether or not this Pokémon has visual gender differences"
          },
          "forms_switchable": {
            "type": "boolean",
            "description": "Whether or not this Pokémon has multiple forms and can switch between them"
          }
        }
      },
      "Type": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier for this type resource"
          },
          "name": {
            "type": "string",
            "description": "The name for this type resource"
          },
          "damage_relations": {
            "type": "object",
            "description": "Type effectiveness relationships"
          },
          "game_indices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionGameIndex"
            }
          },
          "generation": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "move_damage_class": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "pokemon": {
            "type": "array",
            "description": "A list of Pokémon that have this type",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Ability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier for this ability resource"
          },
          "name": {
            "type": "string",
            "description": "The name for this ability resource"
          },
          "is_main_series": {
            "type": "boolean",
            "description": "Whether or not this ability originated in the main series of the video games"
          },
          "generation": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "effect_entries": {
            "type": "array",
            "description": "The effect of this ability",
            "items": {
              "type": "object"
            }
          },
          "pokemon": {
            "type": "array",
            "description": "A list of Pokémon that could potentially have this ability",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "LocationAreaEncounter": {
        "type": "object",
        "properties": {
          "location_area": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "version_details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "version": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                },
                "max_chance": {
                  "type": "integer",
                  "description": "The maximum chance of encountering this Pokémon"
                },
                "encounter_details": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "NamedAPIResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the referenced resource"
          },
          "url": {
            "type": "string",
            "description": "The URL of the referenced resource"
          }
        }
      },
      "PaginatedResourceList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of resources available"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "The URL for the next page in the list"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "The URL for the previous page in the list"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Pokémon",
      "description": "Operations related to Pokémon resources"
    },
    {
      "name": "Pokémon Species",
      "description": "Operations related to Pokémon species"
    },
    {
      "name": "Types",
      "description": "Operations related to Pokémon types"
    },
    {
      "name": "Abilities",
      "description": "Operations related to Pokémon abilities"
    }
  ]
}
